{% extends 'templates/app.twig' %}

{% block content %}
    <div class="jumbotron">
        <div class="container">
            <h1>Hello, slim3!</h1>
            <p>Welcome to slim3 Starter App</p>
            <p>
                <a class="btn btn-primary btn-lg">Learn more</a>
            </p>
        </div>
    </div>

{% endblock %}